.mypage__side
	.mypage-side__box
		%ul.mypage__side__box__ul
			%li
				= link_to "", method: :get do
					マイページ
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					お知らせ
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					マイページ
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					いいね一覧
					= fa_icon("arrow-right")
			%li
				= link_to new_item_path, method: :get do
					出品する
					= fa_icon("arrow-right")
			%li
				= link_to exhibit_users_path, method: :get do
					出品した商品 - 出品中
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					出品した商品 - 取引中
					= fa_icon("arrow-right")
			%li
				= link_to sold_users_path, method: :get do
					出品した商品 - 取引済
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					購入した商品 - 取引中
					= fa_icon("arrow-right")
			%li
				= link_to purchase_users_path, method: :get do
					購入した商品 - 取引済
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					ニュース一覧
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					評価一覧
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					ガイド
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					お問い合わせ
					= fa_icon("arrow-right")

		%h3.mypage__side__box__title 設定
		%ul.mypage__side__box__ul
			%li
				= link_to "", method: :get do
					プロフィール
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					発送元・お届け先住所変更
					= fa_icon("arrow-right")
			%li
				= link_to card_path(@card), method: :get do
					支払い方法
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					メール・パスワード
					= fa_icon("arrow-right")
			%li
				= link_to edit_user_path(@user), method: :get do
					本人情報
					= fa_icon("arrow-right")
			%li
				= link_to "", method: :get do
					電話番号の確認
					= fa_icon("arrow-right")
			%li
				= link_to  signout_users_path, method: :get do
					ログアウト
					= fa_icon("arrow-right")