= render 'items/header'

.bread_crumbs
	.bread_crumbs__text
		-breadcrumb :show_users, @user
		= breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "

.mypage
	.mypage__main
		.mypage__main__icon
			.mypage__main__icon__number
				%img.header__bottom__rightside__mypage__content__icon{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "32"}
					.mypageoop
						%span.top
							評価
							%span.bold 0
						%span.top
							出品数
							%span.bold 0
		%section.mypage__main__box
			%ul.mypage__main__box__notification
				%li.active
					%h3
						%a{"data-toggle" => "tab"}
							お知らせ
				%li
					%h3
						%a{"data-toggle" => "tab"}
							やることリスト
			.tab-content
				%ul.show
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									祝令和記念キャンペーン中！
								%time
									%i.fa.fa-clock-o
									%span 1 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									事務局から個別メッセージ「ログイン通知」
								%time
									%i.fa.fa-clock-o
									%span 1 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									《参加ボタンを押すだけ》最大P1,500がもらえるウルトラキャンペーンに参加しよう！
								%time
									%i.fa.fa-clock-o
									%span 1 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									本日開始！》GW半額ポイント還元や竹下メルペイ通りなど！連休はメルペイがお得
								%time
									%i.fa.fa-clock-o
									%span 1 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									事務局から個別メッセージ「ログイン通知」
								%time
									%i.fa.fa-clock-o
									%span 2 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									事務局から個別メッセージ「ログイン通知」
								%time
									%i.fa.fa-clock-o
									%span 3 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
				%ul
					%li
						%a.mypage-item-link
							.figure_box
								= image_tag 'mercari_icon.png', class: "red_box", width: "35", height: "35"
							.mypage-item-body
								.mypage-item-text
									Nothing much！
								%time
									%i.fa.fa-clock-o
									%span 1 日前
							%i.fa.fa-arrow-circle-o-right{"aria-hidden" => "true"}
				= link_to "", method: :get do
					%li.mypage-go-list
						%h3.mypage-go-list_box
							%a.all_list 一覧を見る
		%section.mypage-tab-container
			%h1.mypage-tab-head 購入した商品
			%ul.mypage-tabs
				%li.active
					%h3
						%a{"data-toggle" => "tab", :href => "	#mypage-tab-transaction-now"}
							取引中
				%li
					%h3
						%a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-old"}
							過去の取引
			.tab-content_bottom
				%ul.show
					%li.trading
						%a{"data-toggle" => "tab"}
							商品がありません
				%ul
					%li.trading
						%a{"data-toggle" => "tab"}
							取引完了


	=render 'users/user-side-bar'

= render 'items/bottom-banner'
= render 'items/footer'
