.bottom-banner
  %div
    = image_tag asset_path('download_bg_pc')
    .bottom-banner__contents
      .bottom-banner__contents__left
        .bottom-banner__contents__left__title
          %div スマホでかんたんスマホアプリ
        .bottom-banner__contents__left__text
          %div 今すぐ無料ダウンロード！
        .bottom-banner__contents__left__icons
          .bottom-banner__contents__left__icons__mercari
            = image_tag 'mercari_icon'
          .bottom-banner__contents__left__icons__apple
            = image_tag 'app-store'
          .bottom-banner__contents__left__icons__google
            = image_tag 'google-play'
        .bottom-banner__contents__right
          = image_tag 'content-phone'
