.pickup-category__box__items__item
  = link_to '' do
    .pickup-category__box__items__item__photo
      - item.photos.first(1).each do |photo|
        = image_tag photo.image.url
    .pickup-category__box__items__item__body
      .pickup-category__box__items__item__body__title
        = item.name
      .pickup-category__box__items__item__body__detail
        .pickup-category__box__items__item__body__detail__price
          = item.price
          円
        .pickup-category__box__items__item__body__detail__like
          = fa_icon("heart-o")
          %span= item.like
        .pickup-category__box__items__item__body__detail__tax
          (税込)
