.exhibit
  = render 'exhibit_header'
  %main.exhibit__main
    %section.exhibit__main__information
      %h2.exihibit__container__head
        商品の情報を入力
      = form_for @item  do |f|
        .exhibit__form
          .exhibit__upload
            %h3.exhibit__upload__head
              出品画像
              %span.exhibit__upload__head__require
                必須
            %p.exhibit__upload__10 最大10枚までアップロードできます
            .exhibit__upload__dropbox
              ドラッグ&ドロップまたはクリックしてファイルをアップロード
              .sell-upload-items-container
                .sell-upload-items.have-item-0
                  %ul
              = f.fields_for :photos, class: 'exhibit__upload__dropbox__items' do |p|
                =  p.file_field :image, class: 'exhibit__upload__dropbox__items__file'
                %pre.exhibit__upload__dropbox__items__pc
                  :preserve
          .exhibit__content
            .exhibit__content__groups
              %label.exhibit__upload__head
                商品名
                %span.exhibit__upload__head__require
                  必須
              = f.text_area :name, class: 'exhibit__content__groups__input',placeholder:  "商品名（必須  40文字まで）"
            .exhibit__content__group
              %label.exhibit__upload__head
                商品の説明
                %span.exhibit__upload__head__require
                  必須
              = f.text_area :description, class: 'exhibit__content__group__textarea',  placeholder:  "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows:  "5"
          .exhibits__contents
            %h3.exhibit__contents__head 商品の詳細
            .exhibits__contents__box
              .exhibit__contents__box__groups
                %label.exhibit__upload__head
                  カテゴリー
                  %span.exhibit__upload__head__require
                    必須
                %div
                  .exhibit__select
                  = f.collection_select :category_ids, @parents, :id, :name, {},{required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
              .exhibit__contents__box__groups__2
                %lavel.exhibit__upload__head
                  サイズ
                  %span.exhibit__upload__head__require 必須
                %div
                  .exhibit__select
                  = f.collection_select :size_id, Size.all, :id, :name, {},{required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
              .exhibit__contents__box__groups__2
                %lavel.exhibit__upload__head
                  商品の状態
                  %span.exhibit__upload__head__require 必須
                %div
                  .exhibit__select
                  = f.collection_select :state_id, State.all, :id, :name, {}, {required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
          .exhibit__contents
            %h3.exhibit__contents__head 配送について
            %a.exhibit__contents__question{:href => "/", :target => "_blank"} ?
            .exhibit__contents__box
              .exhibit__contents__box__groups
                %lavel.exhibit__upload__head
                  配送料の負担
                  %span.exhibit__upload__head__require 必須
              .exhibit__select
                = f.collection_select :fee_side_id, FeeSide.all, :id, :name, {}, {required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
              .exhibit__contents__box__groups__2
                %lavel.exhibit__upload__head
                  発送元の地域
                  %span.exhibit__upload__head__require 必須
                %div
                  .exhibit__select
                  = f.collection_select :region_id, Region.all,:id, :name, {}, {required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
              .exhibit__contents__box__groups__2
                %lavel.exhibit__upload__head
                  発想の方法
                  %span.exhibit__upload__head__require 必須
                %div
                  .exhibit__select
                  = f.collection_select :way_id, Way.all, :id, :name, {}, {required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
              .exhibit__contents__box__groups__2
                %label.exhibit__upload__head
                  発送までの日数
                  %span.exhibit__upload__head__require 必須
                %div
                  .exhibit__select
                  = f.collection_select :day_id, Day.all, :id, :name, {},{required: 'true', autofocus: 'true', class: 'exhibit__select__default'}
          .exhibit__contents.sel
            %h3.exhibit__contents__head 販売価格(300~350)
            %a.exhibit__contents__question{:href => "/", :target => "_blank"} ?
            .exhibit__contents__box
              %ul.exhibit__contents__box__price
                %li.exhibit__price
                  .exhibit__price__box
                    %label.exhibit__price__box__left
                      価格
                      %span.exhibit__upload__head__require 必須
                    .exhibit__price__box__right
                      ¥
                      %div
                        = f.text_area :price, class: 'exhibit__price__box__right__input', placeholder:  "例）300"
                    #exhibits__price
                      %li.exhibit__price__com
                        .exhibit__price__com__left
                          販売手数料(10%)
                        .exhibit__price__com__right
                          \-
                      %li.exhibit__price__profits
                        .exhibit__price__com__left__2
                          販売利益
                        .exhibit__price__com__right__2
                          \-
              .exhibit__sellbtn
                %div
                  %p.exhibit__sellbtn__word
                    = link_to '禁止されている出品', 'http://google.co.jp'
                    、
                    = link_to '行為', 'http://google.co.jp'
                  %p.exhibit__sellbtn__word
                    またブランド品でシリアルナンバー等がある場合はご記載ください
                    = link_to '偽ブランドの販売', 'http://google.co.jp'
                    %br は犯罪であり処罰される可能性があります。
                  %p.exhibit__sellbtn__word
                    また出品をもちまして、
                    = link_to '加盟店規約に同意したことになります。','http://google.co.jp'
                = f.submit('出品する', class: 'exhibit__sellbtn__red')
                %div
                  %button.exhibit__sellbtn__gray{:onclick => "location.href='/'", :type => "button"}もどる
      = render 'exhibit@footer'
